/* Custom Animations */
@keyframes slideLeft {
    0% {
        transform: translateX(0%);
        background-color: #ef4f4f;
        color: #1c1210;
    }

    100% {
        transform: translateX(-100%);
        background-color: #ef4f4f;
        color: #1c1210;
    }
}

/* Custom Classes */
.intro-slide-left {
    animation: slideLeft 1s ease-in-out forwards;
}

/* Center positioning for animation */
.intro-slide-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* Vertically center */
    justify-content: center;
    /* Horizontally center */
}

/* Font family and size */
.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.text-7xl {
    font-size: 10rem;
    font-weight: 900;
}

/* Smooth transitions for homepage */
.intro-page {
    animation: fadeIn 1s ease-in-out forwards;
}