/* Custom Animations */
@keyframes slideLeft {
    0% {
        transform: translateX(0%);
        background-color: #ef4f4f;
        color: #1c1210;
    }

    100% {
        transform: translateX(-100%);
        background-color: #ef4f4f;
        color: #1c1210;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0%);
        background-color: #FFB6C1;
        color: #43494c;
    }

    100% {
        transform: translateY(-100%);
        background-color: #FFB6C1;
        color: #43494c;
    }
}

/* Custom Classes */
.intro-slide-left {
    animation: slideLeft 1s ease-in-out forwards;
}

.intro-slide-up {
    animation: slideUp 1s ease-in-out forwards;
}

/* Center positioning for both animations */
.intro-slide-left,
.intro-slide-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}

/* Font family and size */
.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.text-7xl {
    font-size: 10rem;
    font-weight: 900;
}

/* Smooth transitions for homepage */
.intro-page {
    animation: fadeIn 1s ease-in-out forwards;
}

/* Fade in effect for homepage after animation sequence */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
